
<div class="container top30">

  <div class="row">
    <div class="col-3">
      <label for="term">Search Artists</label>
      <input type="text"
             id="term"
             (keyup)="searchArtist()"
             placeholder="Search artist..."
             class="form-control"
             [(ngModel)]="term" />
    </div>

    <div class="col-9" *ngIf="term.length > 1">
      <h1 class="text-capitalize">{{term}}</h1>
      <hr>

      <div class="row">
        <div  *ngFor="let artist of spotifyService.artists" [routerLink]="['/artist', artist.id]" class="col-md-3 text-center pointer" >
          <img [src]="artist.images | nopicture" alt="" class="img-thumbnail">

          <p>
            {{ artist.name}}
          </p>
        </div>
      </div>


    </div>

  </div>

</div>
